.videocard{
    margin-bottom: 40px;
    width: 270px;
}
.videocardthumbn{
    height: 160px;
    width: 250px;
}
.videocardinfo{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}
.videotext{
    margin-left: 15px;
}
.videotext > h4{
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 0px;
}
.videotext > p{
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
    margin-top: 0px;
}
.videocard_avatar{
    height: 30px !important;
    width: 30px !important;
}