.videorow{
    display: flex;
    margin-bottom: 30px;
    max-width: 700px;
}
.videorow > img{
    object-fit: contain;
    width: 246px;
    height: 138px;
}
.videorow_text{
    margin-left: 14px;
}
.videorow_ph{
    font-size: 12px;
    color: #606060;
    margin: 0px;
}
.videorow_pd{
    margin-top: 10px;
    font-size: 12px;
    color: #606060;
    margin-bottom: 0px;
}
.videorow_h{
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.videorow_subsno{
    font-weight: bold;
    color: rgb(84, 157, 211);
}
.videorow_subs{
    background-color: lightgray;
    padding: 2px;
}